@model IAB_MVC_V1.Models.tblStatusPagos

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
          Estatus del Pago
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idStatusPago }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
