


    <div class="category-head">
        <h2 class="title">Proveedores</h2><a href="javascript:void(0)" class="rightclose"><i class="ti-arrow-right"></i></a>
    </div>
    <div class="category-search-bx">
        <form>
            <input class="form-control" placeholder="Añada un Proveedor a su lista">
        </form>
    </div>
    <div class="category-contact bg-gray">
        <div class="row sp15">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic1.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Catania Eventos Toluquilla</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> Aquiles serdaán 30, Tlaquepaque.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic2.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Hacienda Concepción Eventos</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> Av.Cocepción #20A, Concepción del valle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic3.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Hacienda Santa Cruz del valle</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> Prol.1° de mayo 163, Santa cruz del valle.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic4.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Hacienda Magdalena Eventos</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> c.Hidalgo 16, Lopez Cotilla, San Pedro, Tlaquepaque.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic5.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Hacienda Provenza</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> San Pedro, Tlaquepaque.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="listing-bx listing-sm">
                    <div class="listing-media">
                        <img src="images/listing/pic4.jpg" alt="">
                        <div class="media-info">
                            <ul class="featured-star">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                        </div>
                    </div>
                    <div class="listing-info">
                        <h3 class="title"><a href="listing-details.html">Tierra Mezquite</a></h3>
                        <p class="location"><i class="fa fa-map-marker"></i> Del Plomero 1495, Artesanos,45598, San Pedro.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="category-bottom">
        <a href="listing-details.html" class="btn radius-sm">Ver más Lugares</a>
    </div>
