@model IAB_MVC_V1.Models.tblCategoriasProveedores

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar esta categoría?</h3>
<div>
    <h4>Categorías de Proveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre de la Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCategoria)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
