@model IAB_MVC_V1.Models.tblBebidasNovios

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de eliminar?</h3>
<div>
    <h4>Bebidas Novios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Bebida
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblBebidas.bebida)
        </dd>

        <dt>
            Nombre Novia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblNovios.nombreNovia)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
