@model IAB_MVC_V1.Models.tblBebidasNovios

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Bebidas de los novios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Bebidas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblBebidas.bebida)
        </dd>

        <dt>
            Novios
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblNovios.nombreNovia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idBebidaNovios }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
