<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="Wedding Manager" />
    <meta property="og:title" content="Wedding Manager" />
    <meta property="og:description" content="Wedding Manager" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">



    <!-- FAVICONS ICON -->
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.png" />

    <!-- PAGE TITLE HERE -->
    <title>Encargado de Bodas</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body id="bg">

    <div id="loading-area"></div>
    <div class="page-wraper">
      
        <!-- header END -->
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- Section Banner -->
            <div class="dlab-bnr-inr text-center dlab-bnr-inr-sm overlay-black-dark" style="background-image: url(/Content/images/main-slider/slide1.jpg); background-size: cover;" id="app-banner">
                <div class="container">
                    <div class="dlab-bnr-inr-entry align-m dlab-home">
                        <div class="bnr-content">
                            <div class="wedding-details">
                                <div class="wedding-info wedding-info-left">
                                    <h2 class="wedding-name">Kuldeep Gaur</h2>
                                    <div class="wedding-img"><img src="~/Content/images/testimonials/pic1.jpg" alt=""></div>
                                </div>
                                <div class="wedding-heart">
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="wedding-info wedding-info-right">
                                    <div class="wedding-img"><img src="~/Content/images/testimonials/pic2.jpg" alt=""></div>
                                    <h2 class="wedding-name">Deepika Sharma</h2>
                                </div>
                            </div>
                            <div class="wedding-location">
                                <a href="javascript:;" data-toggle="modal" data-target="#exampleModal" class="location-name">Jalisco <i class="fa fa-pencil m-l5"></i></a>
                                <p class="location-info">Un domingo de noviembre de 2020 ¡Faltan 157 dias!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Search Filter -->
                <div class="search-filter">
                    <div class="container">
                        <form class="filter-form" action="wedding-venues-search.html">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                    <select>
                                        <option>Nosotros estamos buscando</option>
                                        <option>Fotografias</option>
                                        <option>Florerias</option>
                                        <option>Camarógrafos</option>
                                        <option>Abastecimiento</option>
                                        <option>Vestido de novia y accesorios</option>
                                        <option>Música</option>
                                        <option>Entretenimiento</option>
                                        <option>Pastelerias</option>
                                        <option>Stationery</option>
                                        <option>Belleza, Peluquería y Maquillaje</option>
                                        <option>Ropa de caballero</option>
                                        <option>Anillos de boda y joyas</option>
                                        <option>Transporte</option>
                                        <option>Decoración y Alquiler</option>
                                        <option>Planners, Toastmasters and Celebrants (Organizadores)</option>
                                        <option>Alquiler de carpas</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                    <input type="text" class="form-control search" placeholder="Cerca de">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                                    <input type="text" class="form-control" placeholder="O Llamada" type="text" id="datepicker">
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-6 d-flex">
                                    <button class="btn btn-block gradient text-uppercase"> Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Search Filter END -->
            </div>
            <!-- Section Banner END -->
            <!-- Manager Tools -->
            <div class="section-full bg-white plan-tools-bx">
                <div class="container">
                    <ul class="plan-tools-list">
                        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.1s">
                            <a href="//localhost:44369/Home/Index" class="list-box home-list active">
                                <h6 class="title"><i class="la la-home"></i>Inicio</h6>
                                <p>Faltan 150 días</p>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                            <a href="//localhost:44369/tblInvitados/Index" class="list-box guest-list">
                                <h6 class="title"><i class="la la-user"></i>Invitados</h6>
                                <p>4 Invitados</p>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
                            <a href="planner-budget-select.html" class="list-box budget-list">
                                <h6 class="title"><i class="la la-money"></i>Presupuesto</h6>
                                <p>100% Restante</p>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                            <a href="//localhost:44369/tblMesasNovios/Index" class="list-box check-list">
                                <h6 class="title"><i class="la la-check-square"></i>Mesas</h6>
                                <p>19% Completado</p>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
                            <a href="https://localhost:44369/tblCategoriasProveedores/Index" class="list-box short-list">
                                <h6 class="title"><i class="la la-heart-o"></i>Proveedores</h6>
                                <p>2 Guardado</p>
                            </a>
                        </li>
                        <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                            <a href="//localhost:44369/tblPlantillas/Index" class="list-box advice-list">
                                <h6 class="title"><i class="la la-bookmark"></i>Plantillas</h6>
                                <p>250 Ideas</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Manager Tools End -->
            <div class="wedding-filter-search wedding-filter-advice">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="title">Nuestro presupuesto de boda</h2>
                            <a href="https://www.youtube.com/watch?v=Dj6CKxQue7U" class="video-popup popup-youtube video"><i class="la la-play-circle-o"></i> Vea cómo funciona el presupuesto</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Manager Tools -->
            <!-- Vendors Category -->
            <div class="section-full bg-gray content-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 card-container wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                            <div class="featured-bx m-b30">
                                <div class="featured-media">
                                    <img src="~/Content/images/gallery/gallery/pic1.jpg" alt="" />
                                </div>
                                <div class="featured-info">
                                    <h5 class="title"><a href="wedding-venues-search.html"> Lugar de la boda</a></h5>
                                    <a href="wedding-venues-search.html" class="btn gradient btn-sm">Búsqueda</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 card-container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 card-container wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                                    <div class="featured-bx m-b30">
                                        <div class="featured-media">
                                            <img src="~/Content/images/gallery/gallery/pic3.jpg" alt="" />
                                        </div>
                                        <div class="featured-info">
                                            <h5 class="title"><a href="wedding-venues-search.html">Fotógrafos de la Boda</a></h5>
                                            <a href="wedding-venues-search.html" class="btn gradient btn-sm">Búsqueda</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 card-container wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                                    <div class="featured-bx m-b30">
                                        <div class="featured-media">
                                            <img src="~/Content/images/gallery/gallery/pic4.jpg" alt="" />
                                        </div>
                                        <div class="featured-info">
                                            <h5 class="title"><a href="wedding-venues-search.html">Banquetes de boda</a></h5>
                                           <<a href="@Url.Action("BanquetesBoda", "Banquetes")" class="btn gradient btn-sm">Búsqueda</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 card-container wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
                                    <div class="featured-bx m-b30">
                                        <div class="featured-media">
                                            <img src="~/Content/images/gallery/gallery/pic2.jpg" alt="" />
                                        </div>
                                        <div class="featured-info">
                                            <h5 class="title"><a href="wedding-venues-search.html">Floristas de la Boda</a></h5>
                                            <a href="wedding-venues-search.html" class="btn gradient btn-sm">Búsqueda</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Our Services -->
            <div class="section-full bg-white content-inner about-us">
                <div class="container">
                    <div class="section-head text-black text-center">
                        <h2 class="box-title">Asesoramiento de expertos y bodas reales</h2>
                        <p>Encuentra toda la inspiración que necesitas en los artículos y sigue los consejos y tendencias de nuestro equipo de profesionales.</p>
                    </div>
                    <div class="row sp20">
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                            <div class="listing-bx m-b20 expert-advice">
                                <div class="listing-media">
                                    <img src="~/Content/images/listing/pic1.jpg" alt="">
                                    <div class="media-info">
                                        <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                                <div class="listing-info">
                                    <h3 class="title"><a href="outdoor-wedding-venues.html">Lugares para celebrar bodas al aire libre en:</a></h3>
                                    <a href="outdoor-wedding-venues.html" class="btn-link">Consejos de expertos</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                            <div class="listing-bx m-b20 expert-advice">
                                <div class="listing-media">
                                    <img src="~/Content/images/listing/pic2.jpg" alt="">
                                    <div class="media-info">
                                        <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                                <div class="listing-info">
                                    <h3 class="title"><a href="outdoor-wedding-venues.html">Lugares para celebrar bodas en granero:</a></h3>
                                    <a href="outdoor-wedding-venues.html" class="btn-link">Consejos de expertos</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                            <div class="listing-bx m-b20 expert-advice">
                                <div class="listing-media">
                                    <img src="~/Content/images/listing/pic3.jpg" alt="">
                                    <div class="media-info">
                                        <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                                <div class="listing-info">
                                    <h3 class="title"><a href="outdoor-wedding-venues.html">Pequeños lugares para celebrar bodas en:</a></h3>
                                    <a href="outdoor-wedding-venues.html" class="btn-link">Consejos de expertos</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
                            <div class="listing-bx m-b20 expert-advice">
                                <div class="listing-media">
                                    <img src="~/Content/images/listing/pic4.jpg" alt="">
                                    <div class="media-info">
                                        <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                                <div class="listing-info">
                                    <h3 class="title"><a href="outdoor-wedding-venues.html">Lugares para bodas asiáticas en:</a></h3>
                                    <a href="outdoor-wedding-venues.html" class="btn-link">Consejos de expertos</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                            <div class="listing-bx m-b20 expert-advice">
                                <div class="listing-media">
                                    <img src="~/Content/images/listing/pic5.jpg" alt="">
                                    <div class="media-info">
                                        <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                                <div class="listing-info">
                                    <h3 class="title"><a href="outdoor-wedding-venues.html">Lugares inusuales para celebrar bodas en:</a></h3>
                                    <a href="outdoor-wedding-venues.html" class="btn-link">Consejos de expertos</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                            <div class="listing-bx m-b20 expert-advice">
                                <div class="listing-media">
                                    <img src="~/Content/images/listing/pic6.jpg" alt="">
                                    <div class="media-info">
                                        <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                                <div class="listing-info">
                                    <h3 class="title"><a href="outdoor-wedding-venues.html">Elegir la comida de la boda en 5 sencillos</a></h3>
                                    <a href="outdoor-wedding-venues.html" class="btn-link">Consejos de expertos</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                            <div class="listing-bx m-b20 expert-advice">
                                <div class="listing-media">
                                    <img src="~/Content/images/listing/pic7.jpg" alt="">
                                    <div class="media-info">
                                        <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                                <div class="listing-info">
                                    <h3 class="title"><a href="outdoor-wedding-venues.html">Películas de bodas: 4 Reasons Why You</a></h3>
                                    <a href="outdoor-wedding-venues.html" class="btn-link">Consejos de expertos</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
                            <div class="listing-bx m-b20 expert-advice">
                                <div class="listing-media">
                                    <img src="~/Content/images/listing/pic8.jpg" alt="">
                                    <div class="media-info">
                                        <a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                                <div class="listing-info">
                                    <h3 class="title"><a href="outdoor-wedding-venues.html">Cómo confirmar su boda</a></h3>
                                    <a href="outdoor-wedding-venues.html" class="btn-link">Consejos de expertos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Our Services -->
            <!-- Vendors Category End -->
            <div class="section-full bg-gray content-inner">
                <div class="container">
                    <div class="section-head text-black text-center">
                        <h2 class="box-title">Organizador</h2>
                        <p>
                            Deja que nosotros nos encarguemos de todo para que tú solo te preocupes por disfrutar de tu día especial. 
                            Creamos una atmósfera única que narra tu historia de amor y trabajamos con los mejores proveedores 
                            para asegurar una calidad excepcional en cada detalle.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                            <div class="planning-tools text-center m-b30">
                                <div class="icon-bx">
                                    <i class="flaticon-dollar"></i>
                                </div>
                                <div class="content-bx">
                                    <h5 class="title">Gestiona tu <br /> presupuesto de Boda</h5>
                                    <a href="planner-budget-select.html" class="btn purple gradient">Presupuesto</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                            <div class="planning-tools text-center m-b30">
                                <div class="icon-bx">
                                    <i class="flaticon-management"></i>
                                </div>
                                <div class="content-bx">
                                    <h5 class="title">Gestiona la lista de invitados de tu boda</h5>
                                    <a href="planner-guest-list.html" class="btn yellow gradient">Lista de invitados</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.9s">
                            <div class="planning-tools text-center m-b30">
                                <div class="icon-bx">
                                    <i class="flaticon-checked"></i>
                                </div>
                                <div class="content-bx">
                                    <h5 class="title">Comience su lista de verificación de boda</h5>
                                    <a href="planner-checklist-select-date.html" class="btn green gradient">Lista de verificación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Manager Tools End -->
            <div class="modal fade date-wizard planroll" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar>
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog" role="document">
                    <form class="modal-content start-here" id="ProfileStep1">
                        <div class="planroll-nav">
                            <a href="#" class="prev">Atrás</a>
                            <span>1 / 8</span>
                            <a href="#" class="next" onclick="GoToStep('ProfileStep2')">Saltar</a>
                        </div>
                        <div class="planroll-imgbx" style="background-image: url(/Content/images/icon/pic1.jpg)"></div>
                        <div class="start-here-bx">
                            <div class="planroll-title">
                                <h5 class="title">Bienvenido al administrador de bodas</h5>
                                <p>Agrege su nombre a continuación.</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Apellido Paterno">
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn gradient" data-toggle="tooltip" onclick="GoToStep('ProfileStep2')" data-placement="top" title="¡Felicitaciones! Incluso sus nombres quedan geniales juntos.">¡Empecemos!</button>
                        </div>
                    </form>
                    <form class="modal-content start-planning " id="ProfileStep2">
                        <div class="planroll-nav">
                            <a href="#" class="prev" onclick="GoToStep('ProfileStep1')">Regresar</a>
                            <span>2 / 8</span>
                            <a href="#" class="next" onclick="GoToStep('ProfileStep3')">Saltar</a>
                        </div>
                        <div class="planroll-imgbx" style="background-image: url(/Content/images/icon/pic2.png)"></div>
                        <div class="start-here-bx">
                            <div class="">
                                <div class="planroll-title">
                                    <h5 class="title">¿Qué planificación has hecho hasta ahora?</h5>
                                </div>
                                <ul class="select-list clearfix list-inline list-2">
                                    <li>
                                        <div class="custom-control custom-checkbox checkbox-lg">
                                            <input type="checkbox" class="custom-control-input" id="must-haves1">
                                            <label class="custom-control-label" for="must-haves1">¿Tienen un presupuesto aproximado en mente?.</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox checkbox-lg">
                                            <input type="checkbox" class="custom-control-input" id="must-haves2">
                                            <label class="custom-control-label" for="must-haves2">Hemos decidido nuestro lugar</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox checkbox-lg">
                                            <input type="checkbox" class="custom-control-input" id="must-haves3">
                                            <label class="custom-control-label" for="must-haves3">Sabemos a quién invitaremos</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox checkbox-lg">
                                            <input type="checkbox" class="custom-control-input" id="must-haves4">
                                            <label class="custom-control-label" for="must-haves4">Sabemos el estilo de local que queremos</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox checkbox-lg">
                                            <input type="checkbox" class="custom-control-input" id="must-haves5">
                                            <label class="custom-control-label" for="must-haves5">No hemos empezado nada</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="custom-control custom-checkbox checkbox-lg">
                                            <input type="checkbox" class="custom-control-input" id="must-haves6">
                                            <label class="custom-control-label" for="must-haves6">¡Ya hemos fijado la fecha!</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn gradient" data-toggle="tooltip" data-placement="top" onclick="GoToStep('ProfileStep3')" title="¡Felicitaciones! Incluso sus nombres quedan geniales juntos.">Siguiente paso</button>
                        </div>
                    </form>
                    <form class="modal-content start-here" id="ProfileStep3">
                        <div class="planroll-nav">
                            <a href="#" class="prev" onclick="GoToStep('ProfileStep2')">Regresar</a>
                            <span>3 / 8</span>
                            <a href="#" class="next" onclick="GoToStep('ProfileStep4')">Saltar</a>
                        </div>
                        <div class="planroll-imgbx" style="background-image:url(images/icon/pic3.png)"></div>
                        <div class="start-here-bx wedding-reception-bx">
                            <div class="planroll-title">
                                <h5 class="title">¿Ha reservado el lugar de la recepción de su boda?</h5>
                            </div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Si, lo tenemos!</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">No, lo tenemos!</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="form-group">
                                        <input type="text" class="form-control search" placeholder="¿Cúal es el nombre del lugar de tu boda?">
                                    </div>
                                    <div class="form-group text-center">
                                        <div class="custom-control custom-radio radio-lg d-inline">
                                            <input type="radio" class="custom-control-input" id="later">
                                            <label class="custom-control-label" for="later">La haremos más tarde</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="form-group">
                                        <input type="text" class="form-control search" placeholder="Ejemplo: Cancun, Acapulco’">
                                    </div>
                                    <div class="form-group text-center">
                                        <div class="custom-control custom-radio radio-lg d-inline">
                                            <input type="radio" class="custom-control-input" id="Undecided">
                                            <label class="custom-control-label" for="Undecided">Indeciso sobre dónde sera la Boda</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn gradient" data-toggle="tooltip" onclick="GoToStep('ProfileStep4')" data-placement="top" title="¡Felicitaciones! Incluso sus nombres quedan geniales juntos.">Siguiente paso</button>
                        </div>
                    </form>
                    <!-- date wizard area -->
                    <div class="modal-content date-wizard-area" id="ProfileStep4">
                        <div class="planroll-nav">
                            <a href="#" class="prev" onclick="GoToStep('ProfileStep3')">Anterior</a>
                            <span>4 / 8</span>
                            <a href="#" class="next" onclick="GoToStep('ProfileStep5')">Siguiente</a>
                        </div>
                        <div class="modal-header">
                            <h5 class="title">Fecha ideal para la Boda</h5>
                            <span class="date">20 Enero 2025</span>
                        </div>
                        <form action="#" id="myForm" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
                            <!-- SmartWizard html -->
                            <div id="smartwizard">
                                <ul>
                                    <li><a href="#step-1">Año</a></li>
                                    <li><a href="#step-2">Mes</a></li>
                                    <li><a href="#step-3">Día</a></li>
                                </ul>
                                <div>
                                    <div id="step-1">
                                        <div class="seclect-box">
                                            <div class="seclect-area">
                                                <h5 class="title">Selecciona un año</h5>
                                                <div class="btn-group btn-group-toggle btn-select" data-toggle="buttons">
                                                    <label class="btn active">
                                                        <input type="radio" name="options" id="2020" checked required> 2025
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="2020" required> 2026
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="2021" required> 2027
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="2022" required> 2028
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="2023" required> 2029
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="2024" required> 2030
                                                    </label>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="seclect-area select-option">
                                                <h5 class="title">O seleccione de la lista</h5>
                                                <select>
                                                    <option>2025</option>
                                                    <option>2026</option>
                                                    <option>2027</option>
                                                    <option>2028</option>
                                                    <option>2029</option>
                                                    <option>2030</option>
                                                    <option>2031</option>
                                                    <option>2032</option>
                                                    <option>2033</option>
                                                    <option>2034</option>
                                                    <option>2035</option>
                                                    <option>2036</option>
                                                    <option>2037</option>
                                                    <option>2038</option>
                                                    <option>2039</option>
                                                    <option>2040</option>
                                                    <option>2041</option>
                                                    <option>2042</option>
                                                    <option>2043</option>
                                                    <option>2044</option>
                                                    <option>2045</option>
                                                    <option>2046</option>
                                                    <option>2047</option>
                                                    <option>2048</option>
                                                    <option>2049</option>
                                                    <option>2050</option>
                                                    <option>2051</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step-2">
                                        <div class="seclect-box">
                                            <div class="seclect-area">
                                                <h5 class="title">Selecciona una temporada</h5>
                                                <div class="btn-group btn-group-toggle btn-select weather-bx" data-toggle="buttons">
                                                    <label class="btn active">
                                                        <input type="radio" name="options" id="Spring" checked required> Primavera
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="Summer" required> Verano
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="Fall" required> Otoño
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="Winter" required> Invierno
                                                    </label>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="seclect-area select-option">
                                                <h5 class="title">O seleccione un mes</h5>
                                                <div class="btn-group btn-group-toggle btn-select m-b15" data-toggle="buttons">
                                                    <label class="btn active">
                                                        <input type="radio" name="options" id="January" checked required> Enero
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="February" required> Febrero
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="March" required> Marzo
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="April" required> Abril
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="May" required> Mayo
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="June" required> Junio
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="July" required> Julio
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="August" required> Agosto
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="September" required> Septiembre
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="October" required> Octubre
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="November" required> Noviembre
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="December" required> Diciembre
                                                    </label>
                                                </div>
                                                <div class="custom-control custom-radio radio-lg">
                                                    <input type="radio" class="custom-control-input" id="list1">
                                                    <label class="custom-control-label" for="list1">Indeciso en mes/temporada</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="step-3">
                                        <div class="seclect-box">
                                            <div class="seclect-area">
                                                <h5 class="title">Seleccione un día de la semana</h5>
                                                <div class="btn-group btn-group-toggle btn-select weather-bx" data-toggle="buttons">
                                                    <label class="btn active">
                                                        <input type="radio" name="options" id="Mon-Thurs" checked required> Lunes a jueves
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="Friday" required> Viernes
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="Saturday" required> Sábado
                                                    </label>
                                                    <label class="btn">
                                                        <input type="radio" name="options" id="Sunday" required> Domingo
                                                    </label>
                                                </div>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="seclect-area select-option">
                                                <h5 class="title">O selecciona una fecha</h5>
                                                <div class="btn-group btn-group-toggle btn-select m-b15 calendar-bx" data-toggle="buttons">
                                                    <ul>
                                                        <li>Lunes</li>
                                                        <li>Martes</li>
                                                        <li>Miercoles</li>
                                                        <li>Jueves</li>
                                                        <li>Viernes</li>
                                                        <li>Sábado</li>
                                                        <li>Domingo</li>
                                                    </ul>
                                                    <label class="btn active"><input type="radio" name="options" id="01" checked required> 01</label>
                                                    <label class="btn"><input type="radio" name="options" id="02" required>02</label>
                                                    <label class="btn"><input type="radio" name="options" id="03" required>03</label>
                                                    <label class="btn"><input type="radio" name="options" id="04" required>04</label>
                                                    <label class="btn"><input type="radio" name="options" id="05" required>05</label>
                                                    <label class="btn"><input type="radio" name="options" id="06" required>06</label>
                                                    <label class="btn"><input type="radio" name="options" id="07" required>07</label>
                                                    <label class="btn"><input type="radio" name="options" id="08" required>08</label>
                                                    <label class="btn"><input type="radio" name="options" id="09" required>09</label>
                                                    <label class="btn"><input type="radio" name="options" id="10" required>10</label>
                                                    <label class="btn"><input type="radio" name="options" id="11" required>11</label>
                                                    <label class="btn"><input type="radio" name="options" id="12" required>12</label>
                                                    <label class="btn"><input type="radio" name="options" id="13" required>13</label>
                                                    <label class="btn"><input type="radio" name="options" id="14" required>14</label>
                                                    <label class="btn"><input type="radio" name="options" id="15" required>15</label>
                                                    <label class="btn"><input type="radio" name="options" id="16" required>16</label>
                                                    <label class="btn"><input type="radio" name="options" id="17" required>17</label>
                                                    <label class="btn"><input type="radio" name="options" id="18" required>18</label>
                                                    <label class="btn"><input type="radio" name="options" id="19" required>19</label>
                                                    <label class="btn"><input type="radio" name="options" id="20" required>20</label>
                                                    <label class="btn"><input type="radio" name="options" id="21" required>21</label>
                                                    <label class="btn"><input type="radio" name="options" id="22" required>22</label>
                                                    <label class="btn"><input type="radio" name="options" id="23" required>23</label>
                                                    <label class="btn"><input type="radio" name="options" id="24" required>24</label>
                                                    <label class="btn"><input type="radio" name="options" id="25" required>25</label>
                                                    <label class="btn"><input type="radio" name="options" id="26" required>26</label>
                                                    <label class="btn"><input type="radio" name="options" id="27" required>27</label>
                                                    <label class="btn"><input type="radio" name="options" id="28" required>28</label>
                                                    <label class="btn"><input type="radio" name="options" id="29" required>29</label>
                                                    <label class="btn"><input type="radio" name="options" id="30" required>30</label>
                                                    <label class="btn"><input type="radio" name="options" id="31" required>31</label>
                                                </div>
                                                <div class="custom-control custom-radio radio-lg">
                                                    <input type="radio" class="custom-control-input" id="date">
                                                    <label class="custom-control-label" for="date">Indeciso en fecha/día</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <form class="modal-content start-here" id="ProfileStep5">
                        <div class="planroll-nav">
                            <a href="#" class="prev" onclick="GoToStep('ProfileStep4')">Regresar</a>
                            <span>5 / 8</span>
                            <a href="#" class="next" onclick="GoToStep('ProfileStep6')">Siguiente</a>
                        </div>
                        <div class="planroll-imgbx" style="background-image: url(/Content/images/icon/pic4.png)"></div>
                        <div class="start-here-bx wedding-reception-bx">
                            <div class="planroll-title">
                                <h5 class="title">¿Ha reservado el lugar de la recepción de su boda?</h5>
                                <p>Esto nos ayudará a mostrarle lugares adecuados.</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="¿Número estimado de invitados?">
                            </div>
                            <div class="form-group text-center">
                                <div class="custom-control custom-radio radio-lg d-inline">
                                    <input type="radio" class="custom-control-input" id="know-yet">
                                    <label class="custom-control-label" for="know-yet">No lo sabemos todavía</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn gradient" data-toggle="tooltip" data-placement="top" onclick="GoToStep('ProfileStep6')" title="¡Felicitaciones! Incluso sus nombres quedan geniales juntos.">Siguiente paso</button>
                        </div>
                    </form>
                    <form class="modal-content start-here" id="ProfileStep6">
                        <div class="planroll-nav">
                            <a href="#" class="prev" onclick="GoToStep('ProfileStep5')">Regresar</a>
                            <span>6 / 8</span>
                            <a href="#" class="next" onclick="GoToStep('ProfileStep7')">Siguiente</a>
                        </div>
                        <div class="planroll-imgbx" style="background-image: url(/Content/images/icon/pic5.png)"></div>
                        <div class="start-here-bx wedding-reception-bx">
                            <div class="planroll-title">
                                <h5 class="title">¿Tiene en mente un presupuesto general para la boda?</h5>
                                <p>Calcule su presupuesto total para que podamos decirle cuánto gastar en cada proveedor.  ¿No estás seguro? Una boda media en el Zopopan cuesta alrededor de $30.000 dolares.</p>
                            </div>
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text " id="basic-addon1"><i class="fa fa-usd"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="¿Presupuesto estimado para la boda?">
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="custom-control custom-radio radio-lg d-inline">
                                    <input type="radio" class="custom-control-input" id="know-yet1">
                                    <label class="custom-control-label" for="know-yet1">No lo sabemos todavía</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn gradient" data-toggle="tooltip" data-placement="top" onclick="GoToStep('ProfileStep7')" title="¡Felicitaciones! Incluso sus nombres quedan geniales juntos.">Siguiente paso</button>
                        </div>
                    </form>
                    <form class="modal-content start-here" id="ProfileStep7">
                        <div class="planroll-nav">
                            <a href="#" class="prev" onclick="GoToStep('ProfileStep6')">Regresar</a>
                            <span>7 / 8</span>
                            <a href="#" class="next" onclick="GoToStep('ProfileStep8')">Siguiente</a>
                        </div>
                        <div class="planroll-imgbx" style="background-image: url(/Content/images/icon/pic6.png)"></div>
                        <div class="start-here-bx wedding-reception-bx">
                            <div class="planroll-title">
                                <h5 class="title">Añade a tu manager</h5>
                                <p>Agregue a su pareja, Manager para que puedan planificar su boda juntos</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Añade el correo electrónico de tu Manager">
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn gradient" data-toggle="tooltip" data-placement="top" onclick="GoToStep('ProfileStep8')" title="¡Felicitaciones! Incluso sus nombres quedan geniales juntos.">Siguiente paso</button>
                        </div>
                    </form>
                    <form class="modal-content start-here" id="ProfileStep8">
                        <div class="planroll-nav">
                            <a href="#" class="prev" onclick="GoToStep('ProfileStep7')">Regresar</a>
                            <span>8 / 8</span>
                            <a href="#" class="next" onclick="GoToStep('ProfileStep9')">Hecho</a>
                        </div>
                        <div class="planroll-imgbx" style="background-image: url(/Content/images/icon/pic7.png)"></div>
                        <div class="start-here-bx wedding-reception-bx">
                            <div class="planroll-title">
                                <h5 class="title">Y finalmente...</h5>
                                <p>Todas las consultas que envíes procederán de esta dirección de correo electrónico: Confirma tu dirección de correo electrónico</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" value="info@example.com" placeholder="Añade el correo electrónico de tu Manager">
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" class="btn gradient" id="confirmButton" data-toggle="tooltip" data-placement="top" 
                                    onclick="GoToStep('ProfileStep9')" title="¡Felicitaciones! Incluso sus nombres quedan geniales juntos.">Confirmar</button>
                        </div>
                    </form>
                    <div class="modal-content start-here" id="ProfileStep9">
                        <div class="planroll-nav">
                            <a href="#" class="prev" onclick="GoToStep('ProfileStep8')">Anterior</a>
                            <span>Done</span>
                            <a href="#" class="next" onclick="GoToFinish()">Finalizar</a>
                        </div>
                        <div class="planroll-imgbx" style="background-image: url(/Content/images/icon/pic8.png)"></div>
                        <div class="start-here-bx wedding-reception-bx">
                            <div class="planroll-title">
                                <h5 class="title">Felicitaciones, su Wedding Manager está listo!</h5>
                            </div>
                            <div class="found-matches">
                                <h4 class="title">Hemos encontrado tus coincidencias!</h4>
                                <p>Hay 8441 lugares para celebrar bodas en Guadalajara.</p>
                                <a href="wedding-venues-search.html" class="btn gradient"><i class="fa fa-search"></i> Ver lugares ahora</a>
                            </div>
                            <div class="form-group">
                                <ul class="myacountlist">
                                    <li><a href="planner-checklist-select-date.html"><img src="~/Content/images/icon/icon2/icon4.png" alt="" /><span>Lista de verificación</span></a></li>
                                    <li><a href="planner-shortlist.html"><img src="~/Content/images/icon/icon2/icon6.png" alt="" /><span>Lista corta</span></a></li>
                                    <li><a href="planner-budget-select.html"><img src="~/Content/images/icon/icon2/icon5.png" alt="" /><span>Presupuesto</span></a></li>
                                    <li><a href="planner-guest-list.html"><img src="~/Content/images/icon/icon2/icon3.png" alt="" /><span>Lista de invitados</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal End -->
        </div>
        <!-- Content END-->
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="widget widget-list">
                                <h5 class="widget-title">Sobre nosotros</h5>
                                <ul>
                                    <li><a href="about-us.html">Sobre nosotros</a></li>
                                    <li><a href="pressandmedia.html">Medios</a></li>
                                    <li><a href="javascript:void(0);">info@example.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="widget widget-list">
                                <h5 class="widget-title">Para parejas</h5>
                                <ul>
                                    <li><a href="wedding-planning-tools.html">Herramientas de administradores</a></li>
                                    <li><a href="wedding-suppliers.html">Proveedores de Boda</a></li>
                                    <li><a href="wedding-ideas-inspiration.html">Ideas de Inspiración</a></li>
                                    <li><a href="wedding-gift-lists.html">Listas de regalos de boda</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6  col-6">
                            <div class="widget widget-list">
                                <h5 class="widget-title">Para negocios</h5>
                                <ul>
                                    <li><a href="index-business.html">Negocio</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="widget widget-app">
                                <h5 class="widget-title">OBTÉN LA APLICACIÓN</h5>
                                <img src="~/Content/images/app1.jpg" alt="">
                                <img src="~/Content/images/app2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <span class="copyright"> © Copyright 2020 Wedding Manager</span>
                        </div>
                        <div class="col-lg-6">
                            <ul class="footer-list">
                                <li><a href="cookie-policy.html">Política de cookies</a></li>
                                <li><a href="privacy-policy.html">Política de privacidad</a></li>
                                <li><a href="terms.html">Términos y condiciones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer END-->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>


    <script>
        $('#exampleModal').modal('show');
        jQuery('.modal-content').hide();
        jQuery('#ProfileStep1').show();
        function GoToStep(id) {
            jQuery('.modal-content').hide();
            jQuery('#' + id).show();
        }
        function GoToFinish() {
            $('#exampleModal').modal('hide');
        }
        $(document).ready(function () {



            // Toolbar extra buttons
            var btnFinish = $('<button></button>').text('Finish')
                .addClass('btn btn-info')
                .on('click', function () {
                    if (!$(this).hasClass('disabled')) {
                        var elmForm = $("#myForm");
                        if (elmForm) {
                            elmForm.validator('validate');
                            var elmErr = elmForm.find('.has-error');
                            if (elmErr && elmErr.length > 0) {
                                alert('Oops we still have error in the form');
                                return false;
                            } else {
                                alert('Great! we are ready to submit form');
                                elmForm.submit();
                                return false;
                            }
                        }
                    }
                });
            var btnCancel = $('<button></button>').text('Cancel')
                .addClass('btn btn-danger')
                .on('click', function () {
                    $('#smartwizard').smartWizard("reset");
                    $('#myForm').find("input, textarea").val("");
                });



            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'dots',
                transitionEffect: 'fade',
                toolbarSettings: {
                    toolbarPosition: 'bottom',
                    toolbarExtraButtons: [btnFinish, btnCancel]
                },
                anchorSettings: {
                    markDoneStep: true, // add done css
                    markAllPreviousStepsAsDone: true, // When a step selected by url hash, all previous steps are marked done
                    removeDoneStepOnNavigateBack: true, // While navigate back done step after active step will be cleared
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                }
            });

            $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
                var elmForm = $("#form-step-" + stepNumber);
                // stepDirection === 'forward' :- this condition allows to do the form validation
                // only on forward navigation, that makes easy navigation on backwards still do the validation when going next
                if (stepDirection === 'forward' && elmForm) {
                    elmForm.validator('validate');
                    var elmErr = elmForm.children('.has-error');
                    if (elmErr && elmErr.length > 0) {
                        // Form validation failed
                        return false;
                    }
                }
                return true;
            });

            $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection) {
                // Enable finish button only on last step
                if (stepNumber == 3) {
                    $('.btn-finish').removeClass('disabled');
                } else {
                    $('.btn-finish').addClass('disabled');
                }
            });

        });
        /* Window Load START */
        jQuery(window).on("load", function (e) {
            /*Make modal responsive*/
            var modal = jQuery('#exampleModal'),
                dialog = modal.find('.modal-dialog');
            modal.css('display', 'block');
            dialog.css("margin-top", Math.max(0, (jQuery(window).height() - dialog.height()) / 2));
            /*Make modal responsive*/

        });
        /*  Window Load END */

        $(function () {
            $("#datepicker").datepicker();
        });

    </script>
    <script>
        $(function () {
            $.widget("custom.catcomplete", $.ui.autocomplete, {
                _create: function () {
                    this._super();
                    this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
                },
                _renderMenu: function (ul, items) {
                    var that = this,
                        currentCategory = "";
                    $.each(items, function (index, item) {
                        var li;
                        if (item.category != currentCategory) {
                            ul.append("<li class='ui-autocomplete-category'>" + item.category + "</li>");
                            currentCategory = item.category;
                        }
                        li = that._renderItemData(ul, item);
                        if (item.category) {
                            li.attr("aria-label", item.category + " : " + item.label);
                        }
                    });
                },
                //close: function( event, ui ) {}
            });
            var data = [
                { label: "anders", category: "" },
                { label: "andreas", category: "" },
                { label: "antal", category: "" },
                { label: "annhhx10", category: "Products" },
                { label: "annk K12", category: "Products" },
                { label: "annttop C13", category: "Products" },
                { label: "anders andersson", category: "People" },
                { label: "andreas andersson", category: "People" },
                { label: "andreas johnson", category: "People" }
            ];

            $(".search").catcomplete({
                delay: 0,
                source: data,

            });
        });



    </script>

   
</body>
</html>

