@model IAB_MVC_V1.Models.tblServiciosCategoriasProvedores

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Servicios
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciosProveedores)
        </dd>

        <dt>
           Nombre de la Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCategoriasProveedores.nombreCategoria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
