@model IAB_MVC_V1.Models.tblServiciosCategoriasProvedores

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Servicios
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciosProveedores)
        </dd>

        <dt>
            Nombre de la Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCategoriasProveedores.nombreCategoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idServicioCategoProv }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
