@model IAB_MVC_V1.Models.tblServiciosProveedores

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Nombre del Negocio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblProveedores.nomNegocio)
        </dd>

        <dt>
            Servicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblServiciosCategoriasProvedores.serviciosProveedores)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idServicioProveedor }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
