@model IAB_MVC_V1.Models.tblBebidas

@{
    ViewBag.Title = "Elimnar";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de eliminar esta Bebida?</h3>
<div>
    <h4>Bebidas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Bebida
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bebida)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
