@model IAB_MVC_V1.Models.tblMunicipios

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Nombre del Municipio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreMunicipio)
        </dd>

        <dt>
            Nombre del Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEstados.nombreEstado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idMunicipio }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
